<div class="row mt-5">
  <div class="col-md-8 justify-content-md-center mx-auto">
    <h1 class="text-center">Sign up</h1>
    <div class="col-md-6 mx-auto justify-content-md-center">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render "shared/error_messages" %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

